on:
  push:
    branches:
      - master
      - deploy-ghcr
    tags:
      - '*'
  pull_request:

name: Build & Push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@master

      - uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: buildx-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            buildx-${{ runner.os }}-
      - name: Extract versions
        id: versions
        run: |
          mkr_version=$(cat Dockerfile | perl -ne 'print $1 if /^FROM mackerel\/mkr:(v[0-9.]+)/')
          echo "::set-output name=mkr_version::$mkr_version"
      - uses: docker/build-push-action@v6
        with:
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - uses: docker/login-action@v3
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
        with:
          push: true
          tags: |
            ghcr.io/cohalz/mkr-with-git:latest
            ghcr.io/cohalz/mkr-with-git:${{steps.versions.outputs.mkr_version}}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
